@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Raleway:wght@200;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    height: 100%;  
}
  
body {
    min-height: 100%;  
    background: #eee;
    font-family: 'Nanum Gothic', sans-serif;
    font-weight: 400;
    color: #222;
    font-size: 14px;
    line-height: 26px;
    padding-bottom: 50px;
}
  
.container {
    max-width: 700px;   
    background: #fff;
    margin: 0px auto 0px; 
    box-shadow: 1px 1px 2px #DAD7D7;
    border-radius: 3px;  
    padding: 40px;
    margin-top: 50px;
}

.nav-component:hover {
    color: #003b6f;
}

.nav-component:after {
    display: block;
    content: "";
    border-bottom: solid 2.5px #003b6f;  
    transform: scaleX(0);
    transition: transform 150ms ease-in-out;
}

.nav-component:hover:after {
    width: 100%;
    transform: scaleX(1);
}
  
.header {
    .intro {
        display: flex;
    }

    .profile-picture {
        width: 200px;
        margin-bottom: 20px;
        border-radius: 10%;
        box-shadow: 1px 1px 2px #DAD7D7;
    }

    .intro-info {
        margin-top: 10px;
        margin-left: 30px;
    }

    .profile {
      font-size: 40px;
      margin-bottom: 10px;
    }
    
    .korean-name {
      font-weight: 700;
    }
    
    .english-name {
      color: #999;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
    }
    
    .status {
      color: #999;
      font-weight: 400;
    }

    .contact-info {
        margin-bottom: 10px;
    }
    
    .position {
      font-weight: bold;
      display: inline-block;
      margin-right: 10px;
    }

    .contacts ul{
        display: flex;
        flex-direction: row;
        font-size: 16px;
    }

    .contacts ul li a{
        display: flex;
        flex-direction: row;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
    }
}

.contents-container {
    .head {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 28px;
        color: #003b6f;
        letter-spacing: 1px;
    }

    .content-details {
        margin-top: 10px;
    }

    .name-section {
        font-family: 'Raleway', sans-serif;
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .detail-section {
        border-left: solid 2.5px #000;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .content-flex {
        margin-top: 15px;
        display: flex;
    }

    .flex-name {
        margin-right: 15px;
    }

    .flex-detail {
        border-left: solid 2px #000;
        padding-left: 15px;
        margin-bottom: 5px;
    }

    .link-details:hover {
        color: #003b6f;
    }
    
    .link-details:after {
        display: block;
        content: "";
        border-bottom: solid 2px #003b6f;  
        transform: scaleX(0);
        transition: transform 150ms ease-in-out;
    }
    
    .link-details:hover:after {
        width: 100%;
        transform: scaleX(1);
    }
}

.fa-regular{
    color: #373737;
}

.fa-brands{
    color: #373737;
}